.menu-item {
  height: 100%;
  padding: 0px 6px 0px 6px;
}

.tab-btn {
  background-color: transparent;
  border-style: none;
  outline: none;
  color: rgb(77, 75, 75);
}
.active-tab-text {
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 4px;
  border-color: rgb(237, 71, 38);
  color: rgb(241, 122, 122);
  height: 80px;
}

.tab-name {
  font-size: 20px;
  font-weight: 550;
  min-width: 200px;
  max-width: 250px;
  margin: 10px;
}
@media screen and (min-width: 768px) {
  .tab-name {
    font-size: 18px;
  }
}
